* {
   font-family: 'Montserrat', sans-serif;
   margin: 0 auto;
   padding: 0;
}

li {
   display: inline;
   margin: 0 auto;
   padding-top: 25px;
   padding-bottom: 25px;
}

a {
   color: #FF0000;
   text-decoration: none;
   padding: 25px 72px;
}
.header-container {
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   padding: 25px;
   letter-spacing: 3px;
}

ul {
   display: flex;
   list-style: none;
}

.main-img {
   display: block;
   margin-bottom: 49px;
   width: 100%;
}

.main-content-1 {
   font-size: 16px;
   text-align: center;
   color: #373737;
}

.main-title {
   margin: 48px 253px;
   font-style: normal;
   letter-spacing: 3px;
}

.paragraph-1 {
   max-width: 1145px;
   margin-bottom: 28px;
   line-height: 26px;
   letter-spacing: 2px;
}

.paragraph-2 {
   max-width: 1145px;
   margin-bottom: 66px;
   line-height: 26px;
   letter-spacing: 2px;
}

.button-link {
   background-color: #FF0000;
   width: 195px;
   height: 51px;
   border-radius: 4px;
   margin: 0 auto;
}

.link-started {
   display: block;
   color: white;
   text-align: center;
   letter-spacing: 2px;
   font-size: 12px;
   font-weight: 700;
   padding: 18px 43px;
}

.footer {
   text-align: right;
   color: #373737;
   font-weight: 700;
   letter-spacing: 2px;
   margin-top: 82px;
   margin-bottom: 29px;
   margin-right: 105px;
}